.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--navbg-Toggle);
  backdrop-filter: blur(5px) grayscale() brightness(0.5);
  box-sizing: border-box;
  width: 100%;
  position: sticky;
  z-index: 100;
  top: 0;
}

.navbar-toggle {
  background-color: #fff;
  color: #333;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 5px;
}

.navbar-menu {
  display: none;
  width: 100%;
}

.navbar-links {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.navbar-logo {
  margin-left: 10px;
  height: 80px;
  width: 80px;
  border-radius: 50px;
  filter: invert();
  margin-bottom: -10px;
}

.navbar-links button {
  color: white; /* Text color */
  background-color: transparent; /* Background color */
  border: none; /* Remove border if needed */
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 5px;
}

.navbar-links button:hover {
  background-color: rgba(
    255,
    255,
    255,
    0.1
  ); /* Example of adding hover effect */
}

.navbar-links a.active button {
  background-color: #58a9ff;
}

.navbar-links a {
  margin: auto 10px;
}

.nightmode-toggle {
  align-self: center;
  margin-left: auto;
  color: white;
  font-size: 24pt;
  padding: 0 10px;
  cursor: pointer;
}

.nightmode-toggle:hover {
  color: orange;
}

.navbar-menu {
  display: flex;
}

.navbar-link {
  margin-right: 0;
}

@media (max-width: 768px) {
  .navbar-links {
    flex-direction: column;
  }

  .navbar-links button {
    margin: 8px;
  }
}
