.request {
    max-width: 250px;
    align-self: center;

    background-color: var(--elementbg-Toggle);
    margin: 20px;
    width: 250px;
    align-self: center;
    border-radius: 10px;
    transition: all 0.25s;

    padding: 20px;
}

.request-form {
    display: flex;
    flex-direction: column;
}

.request-form button {
    margin-top: 10px;
}

.react-datepicker__tab-loop {
    position: absolute;
    z-index: 50;
}

.react-datepicker__input-container input {
    padding:8px;
    margin: 8px;
}

.responseInfo {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    font-size: 16pt;
    font-weight: bold;

    div {
        margin: 10px;
    }

    .weathericon {
        align-self: center;
    }
}

.forecast {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-content: start;
    margin-top: 40px;
}

.weatherbox {
    display: flex;
    flex-direction: column;
    align-self: baseline;
    justify-content: center;    

    .weathericon {
        position: relative;
        top: -10px;
        left: -10px;
        margin: -40px;
        padding: 10px;
    }
}

.weathericon {
    font-size: 36pt;
    background-color: var(--elementbg-Toggle);
    border-radius: 60px;
    width: fit-content;
    border: 5px solid;
    display: flex;
    justify-content: center;
    padding: 10px 20px;
}

.weathericon.blue {
    border-color: rgb(114, 152, 255);
}

.weathericon.yellow {
    border-color: rgb(255, 196, 0);
}

.weathericon.red {
    border-color: rgb(255, 51, 0);
}